body{
  margin: 0;
  color: black;
  font-family: sans-serif;
  background-color: rgba(253, 253, 253, 0.849);
  }

.navbar-area {
    background: rgba(48, 39, 39, 0.973);
    border-bottom: 1px solid #000;
  }
.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
a.site-logo {
    font-size: 1.2rem;
    font-weight: 800;
    margin-left: 5px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
.site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  } 
.site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }  
  
  .nav-toggler {
    border: 2px solid rgb(252, 247, 247);
    margin-right: 8px;
    width: 45px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }

@media screen and (max-width: 768px) {
  a.site-logo{
    font-size: 20px;
    margin-left: 7px;
    }
    .container {
      max-width: 768px;
    }
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
  .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #444;
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }   
  }   

@media screen and (max-width: 480px) {
  a.site-logo{
    font-size: 20px;
    margin-left: 7px;
    }
    .container {
      max-width: 480px;
    }
  }

.header{
      height: 60vh;
      width: 100%;
      background-color: rgba(48, 39, 39, 0.973);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  } 

.header-content{
    height: 40vh;
    width: 90%;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.heading-2{
  width: 99%;
}


h1{
 font-family: 'Pacifico', cursive;
 font-size: 4rem; 
 text-align: center;
}

h2{
 font-family: 'Dancing Script', cursive;
 font-size: 2rem;
}


.section-heading{
 font-family: 'Pacifico', cursive;
 font-size: 30px;
 margin: 0;
}


@media screen and (max-width: 768px) {
  .header{
    height: 60vh;
    width: 100%;
    max-width: 768px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.header-content{
    height: 40vh;
    width: 90%;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.heading-2{
  width: 95%;
}


h1{
 font-family: 'Pacifico', cursive;
 font-size: 3.5rem; 
 text-align: center;
 
}

h2{
 font-family: 'Dancing Script', cursive;
 font-size: 2rem;
}

.section-heading{
 font-family: 'Pacifico', cursive;
 font-size: 30px;
 margin: 0;
}
}

@media screen and (max-width: 480px) {
   .header{
    height: 50vh;
    width: 100%;
    max-width: 480px;
   }

   .header-content{
      height: 40vh;
      width: 95%;
      margin-top: -50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }  
  
  .heading-2{
    width: 95%;
  }
  
  
  h1{
   font-family: 'Pacifico', cursive;
   font-size: 1.7rem; 
   text-align: center;
  }
  
  h2{
   font-family: 'Dancing Script', cursive;
   font-size: 1.5rem;
  }
  
  .section-heading{
   font-family: 'Pacifico', cursive;
   font-size: 30px;
   margin: 0;
  }
   }

.about-me{
 width: 99%;
 height: 100vh;
 display: flex;
 flex-direction: column ;
 justify-content: center;
 align-items: center;
}

.intro-area h2 {
  font-size: 36px;
  margin-bottom: 15px;
}  

.about-image-container{
margin-top: -200px;
height: 50%;
width: 90%;
display: flex;
flex-direction: row;
justify-content: center;
padding-left: 50px;
}

.about-image-1{
width: 27%;
height: 60%;
padding-bottom: 50px;
padding-right: 25px;
}

.about-image-3{
  width: 27%;
  height: 60%;
  padding-bottom: 50px;
  padding-left: 25px;
}

.about-image-2{
  width: 35%;
  height: 90%;
}

.about-me-content{
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.intro-image-container{
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-image{
  width: 350px;
  height: 350px;
}

.intro-text{
  color: black;
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  line-height: 25px;
  padding-left: 10px;
}

.intro-text-paragraph{
  margin: 0;
}

@media screen and (max-width: 768px) {
  
.about-me{
  max-width: 768px;
  height: 90vh;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
 }
 
 .intro-area h2 {
   font-size: 36px;
   margin-bottom: 15px;
 }  
 
 .about-image-container{
 margin-top: -350px;
 padding-left: 30px;
 height: 50%;
 width: 90%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 }
 
 .about-image-1{
 width: 25%;
 height: 60%;
 margin-top: 200px;
 }
 
 .about-image-3{
  width: 25%;
  height: 60%;
  margin-top: 150px;
 }
 
 .about-image-2{
   width: 35%;
   height: 80%;
 }
 
 .about-me-content{
  width: 95%;
  height: 60%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
 }
 
 .intro-image-container{
   width: 350px;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .intro-image{
   width: 250px;
   height: 250px;
 }
 
 .intro-text{
   color: black;
   width: 70%;
   height: 70%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   line-height: 25px;
   padding-left: 10px;
 
 }
}

@media screen and (max-width: 480px) {
 
.about-me{
  max-width: 480px;
  height: 90vh;
  display: flex;
 }
 
 .intro-area h2 {
   font-size: 36px;
   margin-bottom: 15px;
 }  
 
 .about-image-container{
 margin-top: -100px;
 height: 50%;
 width: 60%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 }
 
 .about-image-1{
  display: none;
 }
 
 .about-image-3{
  display: none;
 }

 
 .about-image-2{
  width: 200px;
  height: 70%;
  padding-bottom: 50px;
 }
 
 .about-me-content{
   width: 95%;
   height: 70%;
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
 }
 
 .intro-image-container{
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
 }
 
 .intro-image{
   width: 200px;
   height: 200px;
 }
 
 .intro-text{
   color: black;
   width: 95%;
   height: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   line-height: 25px;
   padding-left: 10px;
   margin-top: -120px;
 
 }
}

.courses{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:black;
  border-top: 2px solid rgb(39, 31, 31);
  border-bottom: 2px solid rgb(39, 31, 31);
}

.our-courses{
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top:-10px;
}

.course-list{
 
  max-width: 99%;
  width: 55rem;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


}

.course-1, .course-2, .course-3{
  width: 21rem;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.course-image{
  width: 250px;
  height: 250px;
}

.course-title{
  width: 80%;
  height: 10%;
  text-align: center;
 font-weight: 500;
}

.course-price{
  width: 95%;
  height: 8%;
  text-align: center;
 font-weight: bold;
}

button{
  background-color: rgb(39, 31, 31);
  color: white;
  height: 10%;
  width: 80%;
}


@media screen and (max-width: 768px) {
 
  .courses{
    height: 80vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:black;
    border-top: 2px solid rgb(39, 31, 31);
    border-bottom: 2px solid rgb(39, 31, 31);
  }
  
  .our-courses{
    height: 60%;
    width: 99%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:-10px;
  }
  
  .course-list{
    width: 40rem;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
  }
  
  .course-1, .course-2, .course-3{
    width: 30%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .course-image{
    width: 160px;
    height: 160px;
  }
  
  .course-title{
    width: 80%;
    height: 10%;
    text-align: center;
   font-weight: 500;
  }
  
  .course-price{
    width: 95%;
    height: 8%;
    text-align: center;
   font-weight: bold;
  }
  
  button{
    background-color: rgb(39, 31, 31);
    color: white;
    height: 10%;
    width: 80%;
  }
  
  .how-it-works{
    height: 90vh;
    border-bottom: 2px solid rgb(39, 31, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }   
  }
  
  @media screen and (max-width: 480px) {
   
  .courses{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:black;
    border-top: 2px solid rgb(39, 31, 31);
    border-bottom: 2px solid rgb(39, 31, 31);
  }
  
  .our-courses{
    height: 90%;
    width: 99%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:-10px;
  }
  
  .course-list{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  
  }
  
  .course-1, .course-2, .course-3{
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .course-image{
    width: 130px;
    height: 130px;
  }
  
  .course-title{
    width: 99%;
    height: 10%;
    text-align: center;
   font-weight: 500;
  }
  
  .course-price{
    margin-top: 10px;
    width: 95%;
    height: 8%;
    text-align: center;
   font-weight: bold;
  }
  
  button{
    background-color: rgb(39, 31, 31);
    color: white;
    height: 10%;
    width: 80%;
  }
  }

.how-it-works{
  height: 90vh;
  border-bottom: 2px solid rgb(39, 31, 31);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}   

.how-it-works-content{
  height: 70%;
  width: 48rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.how-it-works-image{
  width: 350px;
  height: 350px;
}

.how-it-works-text{
  width: 30rem;
  height: 70%;
  margin-left: 15px;
  margin-top: -20px;
}

.how-it-works-paragraph{
  width: 95%;
  height: 20%;
  margin-top:-15px;
  line-height: 22px;
} 

#how-it-works-heading-1, #how-it-works-heading-2{
  margin-top: -15px;
}

@media screen and (max-width: 768px) {
  
.how-it-works{
  height: 90vh;
  border-bottom: 2px solid rgb(39, 31, 31);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}   

.how-it-works-content{
  height: 30rem;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.how-it-works-image{
  width: 40%;
  height: 60%;
}

.how-it-works-text{
  width: 60%;
  height: 17rem;
  margin-top: -50px;
}

.how-it-works-paragraph{
  width: 99%;
  height: 25%;
  font-size: 1rem;
  margin-top: -20px;
  line-height: 17px;
}
#how-it-works-heading-1, #how-it-works-heading-2{
  margin-top: -20px;
}

}

@media screen and (max-width: 480px) {
    
.how-it-works{
  height: 120vh;
  border-bottom: 2px solid rgb(39, 31, 31);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:-20px;
}   

.how-it-works-content{
  height: 80%;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.how-it-works-image{
  width: 200px;
  height: 200px;
  margin-top: -50px;
}

.how-it-works-text{
  width: 95%;
  margin-top: 25px;
  text-align: center;
}

.how-it-works-paragraph{
  width: 99%;
  height: 25%;
  font-size: 16px;
  margin-top: -12px;
}
#how-it-works-heading-1, #how-it-works-heading-2{
  margin-top: -20px;
}
}

.tutorials{
  border-bottom: 2px solid rgb(39, 31, 31);
  height: 90vh;
  color: black ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tutorials-video{
  height: 80%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .tutorials{
    border-bottom: 2px solid rgb(39, 31, 31);
    height: 90vh;
    color: black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tutorials-video{
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .tutorials{
    border-bottom: 2px solid rgb(39, 31, 31);
    height: 80vh;
    color: black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tutorials-video{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-frame{
    height: 90%;
    width: 95%;
  }
}

.faq{
  height: 80vh;
  border-bottom: 2px solid rgb(39, 31, 31);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   }

.faq-container {
    margin: 0 auto;
    padding: 4rem;
    width: 40rem;
    text-align: center;
    margin-top: -80px;
  }

  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #01060c;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: rgb(39, 31, 31);
  }
  
  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: #f8fbfc;
    border: 1px solid #03b5d2;
  }
  
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded='true'] {
    color: #03b5d2;
  }
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }

  @media screen and (max-width: 768px) {
    
.faq{
  height: 80vh;
  border-bottom: 2px solid rgb(39, 31, 31);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   }

.faq-container {
    margin: 0 auto;
    padding: 4rem;
    width: 24rem;
    text-align: center;
    margin-top: -20px;
  }
  }
  
  @media screen and (max-width: 480px) {
       
.faq{
  height: 100vh;
  border-bottom: 2px solid rgb(39, 31, 31);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   }

.faq-container {
    margin: 0 auto;
    padding: 1rem;
    width: 19rem;
    text-align: center;
    margin-top: -20px;
  }
  }  

.footer{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content{
  width: 45rem;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-content-1{
  width: 50%;
  height: 100%;
}

.footer-content-2{
  
  width: 50%; 
  height: 99%;
  
}

.footer-content-1-items{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.footer-menu{
  width: 30%;
  height: 99%;
  margin-top: 20px
}

.footer-menu-ul{
  height: 99%;
  margin-left: -25px;
}

.address{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  width: 70%;
}

li{
    line-height: 40px;
    list-style: none;
    font-weight: bold;
}

.svg-icons{
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -15px;
}

.social-svgs{
  width: 40px;
  height: 40px;
  margin-left: -30px;
  
} 

.contact-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;

}
  
.form-field{
  margin: 0 auto;
  width: 85%;
  height: 85%;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-field .input{
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgb(116, 109, 109);
  padding: 10px;
  margin: 10px 20px;
  width: 90%;
}

#footer-button{
    width: 90%;
    height: 40px;
  margin-top: 10px;
    margin-left: 30px;
} 
 
#message{
  height: 60px;
}
@media screen and (max-width: 768px) {
  
.footer{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content{
width: 30rem;
height: 80%;
display: flex;
flex-direction: row;
justify-content: center;
}

.footer-content-1{
width: 50%;
height: 100%;
}

.footer-content-2{
width: 50%; 
height: 99%;

}

.footer-content-1-items{
width: 100%;
height: 80%;
display: flex;
flex-direction: row;
}

.footer-menu{
width: 30%;
height: 99%;
}

.footer-menu-ul{
height: 99%;
margin-left: -40px;
}

.address{
display: flex;
justify-content: center;
text-align: center;
width: 90%;
height: 90%;
}

.svg-icons{
height: 100%;
width: 90%;
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: -20px;
margin-left: -15px;
}

.social-svgs{
width: 40px;
height: 40px;
margin-top: -10px;

} 

.contact-us{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 90%;
}

.form-field{
margin: 0 auto;
width: 85%;
height: 85%;
border-radius: 9px;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: -30px;
}

.input-field .input{
background: transparent;
border: 0;
border-bottom: 2px solid rgb(116, 109, 109);
padding: 10px;
margin: 10px 20px;
width: 90%;
}

#footer-button{
  width: 90%;
  margin-left: 30px;
} 

#message{
height: 70px;
}
}

@media screen and (max-width: 480px) {
.footer{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content{
width: 95%;
height: 80%;
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 20px;
}

.footer-content-1{
width: 40%;
height: 90%;
}

.footer-content-2{
width: 60%; 
height: 90%;

}

.footer-content-1-items{
width: 100%;
height: 80%;
display: flex;
flex-direction: row;
}

.footer-menu{
  display: none;
}

.address{
display: flex;
justify-content: center;
height: 90%;
margin-top: -2px;
text-align: start;
width: 90%;
font-weight: bold;
border-right: 2px solid rgba(48, 39, 39, 0.973);

}

.svg-icons{
height: 100%;
width: 8.5rem;
margin-top: -5px;
display: flex;
flex-direction: row;
justify-content: space-around;

}

.social-svgs{
width: 25px;
height: 25px;
margin-top: 15px;
margin-left: -40px;
} 

.contact-us{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 90%;
}

.form-field{
margin: 0 auto;
width: 90%;
height: 70%;
border-radius: 9px;
display: flex;
flex-direction: column;
justify-content: center;
margin-left: -15px;

}

#message{
  height: 40px;
  }

#footer-button{
  width: 90%;
  height: 30px;
}

}